# SQL: Desafio

Nesta aula teremos um desafio de **SQL**. Veja se consegue solucionar todas as questões.

## Instalação da base

Vamos utilizar uma base de dados chamada "faculdade". Faça o download no blackboard e execute o script `faculdade.sql` para gerar a base de dados.

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [3]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="faculdade",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [4]:
ia.tasks()

|    | Atividade            | De                        | Até                       |
|---:|:---------------------|:--------------------------|:--------------------------|
|  0 | newborn              | 2024-02-01 03:00:00+00:00 | 2024-05-30 03:00:00+00:00 |
|  1 | select01             | 2024-02-08 03:00:00+00:00 | 2024-02-19 02:59:59+00:00 |
|  2 | ddl                  | 2024-02-22 03:00:00+00:00 | 2024-02-27 02:59:59+00:00 |
|  3 | dml                  | 2024-02-26 03:00:00+00:00 | 2024-03-03 02:59:59+00:00 |
|  4 | group_having         | 2024-02-29 03:00:00+00:00 | 2024-03-12 02:59:59+00:00 |
|  5 | agg_join             | 2024-02-29 03:00:00+00:00 | 2024-03-05 02:59:59+00:00 |
|  6 | views                | 2024-02-29 03:00:00+00:00 | 2024-03-20 02:59:59+00:00 |
|  7 | sql_review1          | 2024-03-11 03:00:00+00:00 | 2024-03-20 02:59:59+00:00 |
|  8 | permissions          | 2024-03-18 03:00:00+00:00 | 2024-03-26 02:59:59+00:00 |
|  9 | desafio_normalizacao | 2024-03-21 03:00:00+00:00 | 2024-04-08 02:59:59+00:00 |

In [5]:
ia.grades(by="task")

|    | Tarefa               |   Nota |
|---:|:---------------------|-------:|
|  0 | agg_join             |     10 |
|  1 | ddl                  |     10 |
|  2 | desafio_normalizacao |      0 |
|  3 | dml                  |     10 |
|  4 | group_having         |     10 |
|  5 | newborn              |     10 |
|  6 | permissions          |      0 |
|  7 | select01             |     10 |
|  8 | sql_review1          |     10 |
|  9 | views                |     10 |

In [6]:
ia.grades(task="desafio_normalizacao")

|    | Atividade            | Exercício   |   Peso |   Nota |
|---:|:---------------------|:------------|-------:|-------:|
|  0 | desafio_normalizacao | ex01        |      1 |      0 |
|  1 | desafio_normalizacao | ex02        |      1 |      0 |
|  2 | desafio_normalizacao | ex03        |      1 |      0 |
|  3 | desafio_normalizacao | ex04        |      1 |      0 |
|  4 | desafio_normalizacao | ex05        |      1 |      0 |

**Exercício 1**: Crie uma query que retorne o id e o nome dos alunos que tenham dois endereços na *CIDADE* de São Paulo ordenado pelo id do aluno.

In [9]:
sql_ex01 = """
SELECT
    id_aluno,
    nome
FROM
    alunos
WHERE
    (alunos.endereco1 LIKE "% São Paulo, São Paulo" AND  alunos.endereco2 LIKE "% São Paulo, São Paulo")



"""

db(sql_ex01)

Executando query:
(91, 'LOIS BUTLER')
(107, 'FLORENCE WOODS')
(130, 'CHARLOTTE HUNTER')
(281, 'LEONA OBRIEN')
(431, 'JOEL FRANCISCO')
(463, 'DARRELL POWER')
(515, 'ANDRE RAPP')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [10]:
ia.sender(answer="sql_ex01", task="desafio_normalizacao", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 2**: Uma pesquisa interna revelou que existe um professor na faculdade que causa um aumento na taxa de felicidade dos alunos. Para identificar os alunos mais felizes, escreva uma query que retorne o id e o nome dos alunos que cursam ao mesmo tempo as disciplinas de Megadados e Big Data ou que cursam ao mesmo tempo as disciplinas de Megadados e MLOps. Ordene pelo id do aluno.

**Disclaimer**: exercício criado pelo prof. Márcio, não sou tão convencido assim!

In [14]:
sql_ex02 = """
SELECT
    id_aluno,
    nome
FROM
    alunos
WHERE
    (disciplinas LIKE "%Megadados%" AND disciplinas LIKE "%Big Data%")
    OR (disciplinas LIKE "%Megadados%" AND disciplinas LIKE "%MLOps%")
"""

db(sql_ex02)

Executando query:
(24, 'KIMBERLY LEE')
(64, 'JUDITH COX')
(77, 'JANE BENNETT')
(126, 'ELLEN SIMPSON')
(129, 'CARRIE PORTER')
(168, 'REGINA BERRY')
(176, 'JUNE CARROLL')
(206, 'TERRI VASQUEZ')
(211, 'STACEY MONTGOMERY')
(216, 'NATALIE MEYER')
(228, 'ALLISON STANLEY')
(254, 'MAXINE SILVA')
(260, 'CHRISTY VARGAS')
(267, 'MARGIE WADE')
(283, 'FELICIA SUTTON')
(307, 'JOSEPH JOY')
(313, 'DONALD MAHON')
(320, 'ANTHONY SCHWAB')
(322, 'JASON MORRISSEY')
(325, 'TIMOTHY BUNN')
(329, 'FRANK WAGGONER')
(332, 'STEPHEN QUALLS')
(333, 'ANDREW PURDY')
(334, 'RAYMOND MCWHORTER')
(361, 'LAWRENCE LAWTON')
(362, 'NICHOLAS BARFIELD')
(389, 'ALAN KAHN')
(405, 'LEONARD SCHOFIELD')
(422, 'MELVIN ELLINGTON')
(436, 'TROY QUIGLEY')
(443, 'FRANCISCO SKIDMORE')
(445, 'MICHEAL FORMAN')
(463, 'DARRELL POWER')
(495, 'CHARLIE BESS')
(527, 'CORY MEEHAN')
(538, 'TED BREAUX')
(552, 'HUGH WALDROP')
(585, 'PERRY SWAFFORD')
(594, 'EDUARDO HIATT')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [15]:
ia.sender(answer="sql_ex02", task="desafio_normalizacao", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: A "Avenida Marginal" na cidade de Anápolis mudou de nome para "Avenida Ribeirinha". Escreva uma query que atualize o nome da rua para todos os endereços que possuem o nome "Avenida Marginal" nesta cidade.

In [36]:
# atualizar o nome da rua para todos os endereços que possuem o nome "Avenida Marginal" nesta cidade

sql_ex03 = """
UPDATE
    alunos
SET
    endereco1 = REPLACE(endereco1, "Avenida Marginal", "Avenida Ribeirinha")
WHERE
    endereco1 LIKE "Avenida Marginal%"
    AND endereco1 LIKE "%Anapólis%"
"""

db(sql_ex03)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [35]:
ia.sender(answer="sql_ex03", task="desafio_normalizacao", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome** de todas as disciplinas presentes no banco de dados. Ordene pelo nome da disciplina.

In [32]:
sql_ex04 = """
SELECT DISTINCT SUBSTRING_INDEX(disciplinas, ',', 1) AS part FROM alunos ORDER BY part ASC;

"""

db(sql_ex04)

Executando query:
('Big Data',)
('Computação em Nuvem',)
('Design de Computadores',)
('Machine Learning',)
('Meditação e Relaxamento',)
('Megadados',)
('MLOps',)
('Redes Sociais',)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [33]:
ia.sender(answer="sql_ex04", task="desafio_normalizacao", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: A disciplina "Meditação e Relaxamento" foi cancelada por conta do baixo interesse nela pelos alunos. Escreva uma query que remova a disciplina do banco de dados sem que a estrutura da coluna seja afetada.

In [ ]:
sql_ex05 = """
-- Sua query AQUI!
"""

db(sql_ex05)

In [ ]:
ia.sender(answer="sql_ex05", task="desafio_normalizacao", question="ex05", answer_type="pyvar")

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [ ]:
ia.grades(task="desafio_normalizacao")

Nota por atividade (tarefa):

In [ ]:
ia.grades(by="TASK")

Podendo filtrar apenas uma atividade:

In [ ]:
ia.grades(by="TASK", task="desafio_normalizacao")